/*--------------------------landing page------------------------*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Rowdies';
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    
    background-position: center ;
    background-size: cover ;
    position: relative ;
    background-color: rgba(18, 18, 46, 0.877);
}
nav{
    position: sticky;
    top: 0px;
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
    z-index: 1;
}
nav img{
    width: 50px;
     
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
     text-decoration: none;
     font-size:  13px;
 }
 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 119, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.intro{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center ;

}
.intro h1{
    font-size: 100px;
}
.intro h2{
    font-size: 80px;
}
.intro p{
    font-size: 20px;
}


/*--------------------------about page------------------------*/


.intro2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;
    
}
.intro2 h1{
    font-size: 70px;
}
.intro2 p{
    font-size: 15px;
}
.intro2 img{
    border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 250px;
  height: 250px;
}

/*--------------------------experience page------------------------*/

.intro3{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;
}
.intro3 h1{
    font-size: 70px;
}
.intro3 p{
    font-size: 20px;
}


/*--------------------------resume page------------------------*/


.intro4{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;
}
.intro4 h1{
    font-size: 70px;
}
.intro4 p{
    font-size: 20px;
}

/*--------------------------education page------------------------*/

.intro5{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;
}
.intro5 h1{
    font-size: 70px;
}
.intro5 p{
    font-size: 20px;
}

.about{
    min-height: 100vh;
    width: 100%;
    
    background-position: center ;
    background-size: cover ;
    position: relative ;
    background-color: rgba(18, 18, 46, 0.877);
}
.about h1{
    font-size: 60px;
}
.about img{
border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 300px;
  height: 300px;
}

.man{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;
    
}
.exp{
    min-height: 100vh;
    width: 100%;
    background-position: center ;
    background-size: cover ;
    position: relative ;
    background-color: rgba(18, 18, 46, 0.877);
}
.experience{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;
    list-style-type: none;
}.experience ul li{
    list-style-type: none;

}
.experience h1{
    font-size: 60px;
}
.experience h3{
    font-size: 25px;
}

nav.sticky{
    padding: 5px 100px;
}
.footer{
    background-color: rgba(18, 18, 46, 0.877);
    text-align: center;
    
}
.footer h2 a{
    font-size: 22px;
    color: rgba(220, 237, 252, 0.692);
    text-decoration: none;
    padding: 8px 12px;
}
.footer h2 {
    font-size: 22px;
    color: rgba(169, 213, 248, 0.692);
    text-decoration: none;
    padding: 8px 12px;
}

.footer h3{
    font-size: 10px;
    color: grey;
}
.footer h1{
    color: white;
}
.man h1{
    color: rgb(31, 146, 212);
}
.experience h1{
    color: rgb(31, 146, 212);
}
.footer h1{
    color: rgb(31, 146, 212);
}
.footer ul li{
    list-style: none;
    display: inline-block;
    padding: 50px 30px;
    position: relative;
}
.footer ul li a{
    color: rgb(255, 255, 255);
     text-decoration: none;
     font-size:  22px;
 }
 .footer ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 119, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footer ul li:hover::after{
    width: 100%;
}
.footer h3 a{
    color: beige;
}
.footer h3 a:link { text-decoration: none; }
.footer h3 a:visited { text-decoration: none; }
.footer h3 a:hover { text-decoration: underline;}
.footer h3 a:active { text-decoration: none; }



